
.icon-allgames:before { content: '\e800'; } /* '' */
.icon-nav_collections:before { content: '\e801'; } /* '' */
.icon-nav_feed:before { content: '\e802'; } /* '' */
.icon-nav_home:before { content: '\e803'; } /* '' */
.icon-nav_search:before { content: '\e804'; } /* '' */
.icon-nav_settings:before { content: '\e805'; } /* '' */
.icon-touch_up:before { content: '\e806'; } /* '' */
.icon-input_universal_a:before { content: '\e807'; } /* '' */
.icon-input_universal_x:before { content: '\e808'; } /* '' */
.icon-input_universal_lb:before { content: '\e809'; } /* '' */
.icon-input_universal_lt:before { content: '\e80a'; } /* '' */
.icon-input_universal_b:before { content: '\e80b'; } /* '' */
.icon-input_universal_rb:before { content: '\e80c'; } /* '' */
.icon-input_universal_rt:before { content: '\e80d'; } /* '' */
.icon-input_universal_y:before { content: '\e80e'; } /* '' */
.icon-input_a:before { content: '\e80f'; } /* '' */
.icon-input_x:before { content: '\e810'; } /* '' */
.icon-input_xbox_lb:before { content: '\e811'; } /* '' */
.icon-input_xbox_lt:before { content: '\e812'; } /* '' */
.icon-input_b:before { content: '\e813'; } /* '' */
.icon-input_xbox_rb:before { content: '\e814'; } /* '' */
.icon-input_xbox_rt:before { content: '\e815'; } /* '' */
.icon-input_y:before { content: '\e816'; } /* '' */
.icon-input_ps_a:before { content: '\e817'; } /* '' */
.icon-input_ps_x:before { content: '\e818'; } /* '' */
.icon-input_ps_lb:before { content: '\e819'; } /* '' */
.icon-input_ps_lt:before { content: '\e81a'; } /* '' */
.icon-input_ps_b:before { content: '\e81b'; } /* '' */
.icon-input_ps_rb:before { content: '\e81c'; } /* '' */
.icon-inbut_universal_start:before { content: '\e81d'; } /* '' */
.icon-input_universal_select:before { content: '\e81e'; } /* '' */
.icon-input_xbox_start:before { content: '\e81f'; } /* '' */
.icon-input_xbox_select:before { content: '\e820'; } /* '' */
.icon-input_ps_rt:before { content: '\e821'; } /* '' */
.icon-input_ps_y:before { content: '\e822'; } /* '' */
.icon-input_ps_start:before { content: '\e823'; } /* '' */
.icon-input_ps_select:before { content: '\e824'; } /* '' */
.icon-star:before { content: '\e825'; } /* '' */
.icon-star_empty:before { content: '\e826'; } /* '' */
.icon-meta_date:before { content: '\e827'; } /* '' */
.icon-meta_dev:before { content: '\e828'; } /* '' */
.icon-meta_genre:before { content: '\e829'; } /* '' */
.icon-meta_publisher:before { content: '\e82a'; } /* '' */
.icon-meta_players:before { content: '\e82b'; } /* '' */
.icon-battery_0:before { content: '\e82c'; } /* '' */
.icon-battery_1:before { content: '\e82d'; } /* '' */
.icon-battery_2:before { content: '\e82e'; } /* '' */
.icon-battery_3:before { content: '\e82f'; } /* '' */
.icon-battery_4:before { content: '\e830'; } /* '' */
.icon-battery_5:before { content: '\e831'; } /* '' */
.icon-battery_6:before { content: '\e832'; } /* '' */
.icon-battery_7:before { content: '\e833'; } /* '' */
.icon-battery_8:before { content: '\e834'; } /* '' */
.icon-battery_9:before { content: '\e835'; } /* '' */
.icon-battery_10:before { content: '\e836'; } /* '' */
.icon-battery_charging:before { content: '\e837'; } /* '' */
.icon-input_nintendo_lt:before { content: '\e83b'; } /* '' */
.icon-input_nintendo_rt:before { content: '\e83c'; } /* '' */
.icon-input_sd_lt:before { content: '\e83d'; } /* '' */
.icon-input_sd_rb-1:before { content: '\e83e'; } /* '' */
.icon-input_sd_lb:before { content: '\e83f'; } /* '' */
.icon-input_sd_rb:before { content: '\e840'; } /* '' */
.icon-input_nintendo_lb:before { content: '\e841'; } /* '' */
.icon-input_nintendo_rb:before { content: '\e842'; } /* '' */
.icon-input_sd_select:before { content: '\e843'; } /* '' */
.icon-input_sd_start:before { content: '\e844'; } /* '' */
.icon-input_nintendo_sl:before { content: '\e845'; } /* '' */
.icon-input_nintendo_sr:before { content: '\e846'; } /* '' */
.icon-star_half:before { content: '\f123'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
